*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

@media(max-width: 600px){
  header{

  }
}

header{
    background-color: lightsalmon;
    height: 20vh; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media(max-width: 600px){
      flex-direction: column;
      height: 30vh;
    }
    section{
        display: flex;
        align-items: center;
        
    }
    img{
        width: 100px;  
    }
    h1{
        color: aliceblue;
    }

}

.boxMenu{
    border: solid 2px yellow;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media(max-width:600px){
       width: 70vw;
       justify-content: space-between;
       font-size: 23px;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

article{
    border: solid 2px red;
    width: 300px;
    height: 300px;
    padding: 20px 55px;
    margin: 50px 50px;
    background-color: sandybrown;

    figure{
        text-align: center;
    }
    img{
        width: 200px;
    }

    button{
    border: solid 2px;
     margin-top: 20px;
     margin-left: 55px;
     width: 100px;
     height: 30px;
    //  border: none;
     border-radius: 10px;
     background-color: sienna;
     color: aliceblue;
    //  margin: 80px 10px 10px 55px;
    //  margin-bottom: ;
    //  margin-right: ;
    // padding-left: 10px;
    // padding-top: ;
    // padding-bottom: ;
    // padding-right: ;

    }
}

img{
    display: block;
    width: 100px;
}

div{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    display: inline-block;
}
